In [1]:
some_dict={'a':1,'b':2,'c':3}

In [2]:
for key in some_dict:
    print(key)

a
b
c

In [3]:
dict_iterator=iter(some_dict)

In [4]:
dict_iterator

In [5]:
list(dict_iterator)

['a', 'b', 'c']

In [7]:
def squares(n=10):
    print('generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i **2

In [8]:
gen = squares()

In [9]:
gen

In [10]:
for x in gen:
    print(x,end=' ')

generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [11]:
tup=4,5,(6,7)
a,b,(c,d)=tup

In [12]:
d

7

In [13]:
a

4

In [14]:
b

5

In [15]:
c

6

In [16]:
tup

(4, 5, (6, 7))

In [18]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [1]:
values = 1,2,3,4,5

In [2]:
a,b,*rest = values

In [3]:
a,b

(1, 2)

In [4]:
rest

[3, 4, 5]

In [5]:
a,b,*_ = values

In [6]:
a = (1,2,3,3,2,2,3,4)

In [7]:
a.count(2)

3

In [ ]:
a_list = [2,3,7]

In [2]:
a_list = [2,3,4,None]

In [3]:
tup = ('foo','bar','baz')

In [4]:
b_list = list(tup)

In [5]:
b_list

['foo', 'bar', 'baz']

In [6]:
b_list[1] = 'peekaboo'

In [7]:
b_list

['foo', 'peekaboo', 'baz']

In [9]:
#list can be added one element or fact but tup cannot be modified

In [10]:
gen = range(10)

In [11]:
gen

range(0, 10)

In [12]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
b_list.append('dwarf')

In [14]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [15]:
b_list.insert(1,'red')

In [16]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [18]:
#adding and removing the elements with brackets()

In [19]:
#Inverse operation to insert is pop, which removes and returns an element at a particular index

In [20]:
b_list.pop(2)

'peekaboo'

In [21]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [23]:
#elements can be removed by value with remove,only work for the 1st element

In [25]:
b_list.append('foo')

In [26]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo', 'foo']

In [27]:
b_list.remove('foo')

In [28]:
b_list

['red', 'baz', 'dwarf', 'foo', 'foo']

In [29]:
b_list.remove('foo')

In [30]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [31]:
#check if a list contains a value using the in keyword

In [32]:
'dwarf' in b_list

True

In [34]:
'dwarf' not in b_list

False

In [35]:
#concatenating and combining lists

In [36]:
[4,None,'foo']+ [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [37]:
x = [4,None,'foo']

In [38]:
x.extend([7,8,(2,3)])

In [39]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
a = [7,2,3,1,5]

In [44]:
a.sort()

In [45]:
a

[1, 2, 3, 5, 7]

In [46]:
b = ['saw','small','He','foxes','six']

In [47]:
b.sort(key=len)

In [48]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [49]:
#Binary search and maintaining a sorted list-bisect

In [50]:
import bisect

In [51]:
c = [1,2,2,2,3,4,7]

In [52]:
bisect.bisect(c,2)

4

In [53]:
bisect.bisect(c,5)

6

In [54]:
bisect.insort(c,6)

In [55]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [56]:
seq=[7,2,3,7,6,0,1]

In [57]:
seq[1:5]

[2, 3, 7, 6]

In [58]:
seq[1:5]=[6,3]

In [59]:
seq

[7, 6, 3, 0, 1]

In [60]:
seq[3:4]=[3,7]

In [61]:
seq

[7, 6, 3, 3, 7, 1]

In [62]:
seq[:5]

[7, 6, 3, 3, 7]

In [63]:
seq[3:]

[3, 7, 1]

In [64]:
seq[-4:]

[3, 3, 7, 1]

In [65]:
seq[-6:-2]

[7, 6, 3, 3]

In [66]:
seq[::2]

[7, 3, 7]

In [ ]:
#a step can be used after a second colon

In [67]:
seq[::1]

[7, 6, 3, 3, 7, 1]

In [68]:
seq[::-1]

[1, 7, 3, 3, 6, 7]

In [69]:
# -1 can reverse a list or tuple

In [70]:
#Enumerate will return a sequence of (i,value) tuples.

In [72]:
#i = 0
# for value in collection:
        # do something with value
#        i +=1
# for Enumerate 
# for i,value in enumerate(collection):
        #do something with value

In [73]:
some_list = ['foo','bar','baz']

In [74]:
mapping={}

In [77]:
for i,v in enumerate(some_list):
        mapping[v]=i

In [78]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [79]:
#sorted

In [80]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [81]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [82]:
seq1 = some_list

In [83]:
seq2=['one','two','three']

In [84]:
zipped = zip(seq1,seq2)

In [85]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [86]:
seq3 = ['ture','false']

In [87]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', 'ture'), ('bar', 'two', 'false')]

In [89]:
for i,(a,b,c) in enumerate(zip(seq1,seq2,seq3)):
    print('{0}:{1},{2},{3}'.format(i,a,b,c))

0:foo,one,ture
1:bar,two,false

In [92]:
for i,(a,b,c) in enumerate(zip(seq1,seq2,seq3)):
    print('{0}:{1},{2},{3}'.format(i,a,b,c))

0:foo,one,ture
1:bar,two,false

In [93]:
#unzip a sequence *

In [94]:
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

In [95]:
first_names,last_names = zip(*pitchers)

In [96]:
first_names

('Nolan', 'Roger', 'Schilling')

In [97]:
last_names

('Ryan', 'Clemens', 'Curt')

In [101]:
list(zipped)

[]

In [102]:
zipped=pitchers

In [103]:
test1,test2=zip(*zipped)

In [104]:
test1

('Nolan', 'Roger', 'Schilling')

In [105]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [106]:
empty_dict = {}

In [107]:
d1 = {'a':'some value','b':[1,2,3,4]}

In [108]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [109]:
d1[7]="an integer"

In [110]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [112]:
d1['b']

[1, 2, 3, 4]

In [113]:
'b' in d1

True

In [114]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [115]:
d1['dummy']='another value'

In [116]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [118]:
d1['5']='some value'

In [120]:
del d1['5']

In [121]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [122]:
ret = d1.pop('dummy')

In [123]:
ret

'another value'

In [124]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [128]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [129]:
list(d1.keys())

['a', 'b', 7]

In [130]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [131]:
d1.update({'b':'foo','c':12})

In [132]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [133]:
#creating discts from sequences

In [134]:
# mapping ={}
# for key,value in zip(key_list,value_list):
        #mapping[key] = value

In [135]:
mapping = dict(zip(range(5),reversed(range(5))))

In [136]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
#default values, 
# if key in some_dict:
    #value = some_dict[key]
#else value = default_value

In [ ]:
#after dict get and pop, can take a default value to be returned.so it can be written like this
#    value = some_dict.get(key,default_value)

In [145]:
words = ['apple','bat','bar','atom','book']

In [146]:
by_letter={}

In [147]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [148]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
#To use a list as a key, one option is to convert it to a tuple, which can be hashed as long as its elements also can

In [149]:
d = {}

In [150]:
d[tuple([1,2,3])]=5

In [151]:
d

{(1, 2, 3): 5}

In [152]:
set([2,2,2,1,2,3,4])

{1, 2, 3, 4}

In [ ]:
a = {1,2,3,4,5,6}

In [153]:
b = {3,4,5,6,7,8}

In [158]:
a = {1,2,3,4,5,6}

In [159]:
a

{1, 2, 3, 4, 5, 6}

In [160]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [157]:
b

{3, 4, 5, 6, 7, 8}

In [161]:
a & b

{3, 4, 5, 6}

In [162]:
# & intersection
# | union

In [164]:
a

{1, 2, 3, 4, 5, 6}

In [165]:
b

{3, 4, 5, 6, 7, 8}

In [167]:
c = a.copy()

In [168]:
c

{1, 2, 3, 4, 5, 6}

In [169]:
c |= b

In [170]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [171]:
d = a.copy()

In [172]:
d |= a

In [173]:
d

{1, 2, 3, 4, 5, 6}

In [174]:
d &=a

In [175]:
d

{1, 2, 3, 4, 5, 6}

In [176]:
my_data = [1,2,3,4]

In [178]:
my_set = {tuple(my_data)}

In [179]:
my_set

{(1, 2, 3, 4)}

In [180]:
a_set = {1,2,3,4,5}

In [181]:
a = {1,2,3}

In [182]:
a.issubset(a_set)

True

In [183]:
a_set.issuperset(a)

True

In [ ]:
#issubset a are contained in b             a.issubset(b)
#issuperset b are contained in a           a.issuperset(b)

In [ ]:
a